<div id='cssmenu'>
<ul>
   <li><a href='{{ path('uzytkownik')}}'><span>Użytkownicy</span></a></li>
   <li><a href='{{ path('nrtelefonu')}}'><span>Numery Telefonów</span></a></li>
   <li><a href='{{ path('package')}}'><span>Pakiety</span></a></li>
   <li class='last'><a href='{{ path('aktywacja')}}'><span>Aktywacja</span></a></li>
</ul>
</div>
   